<% layout('layouts/boilerplate') -%>
    <h1>Edit Munch-Mystery</h1>
    <form action="/munches/<%= munch._id %>?_method=PUT" method="POST" class="needs-validation" novalidate>
        <div class="container">
            <div class="row">
                <div class="col-5 offset-3 border border-secondary">
                    <label for="imgUrl">Image URL</label>
                    <input type="text" class="form-control" name="place[imgUrl]" id="imgUrl" value="<%= munch.imgUrl %>" required/>
                    <div class="valid-feedback">
                        Perfect!
                    </div>

                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="place[title]" id="title" value="<%= munch.title %>" required/>
                    <div class="valid-feedback">
                        Perfect!
                    </div>

                    <label for="price" class="form-label">Average Price</label>
                    <input type="number" class="form-control" name="place[averagePrice]" id="price" value="<%= munch.averagePrice %>" required/>
                    <div class="valid-feedback">
                        Perfect!
                    </div>

                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" name="place[description]" id="description" required><%= munch.description%></textarea>
                    <div class="valid-feedback">
                        Perfect!
                    </div>

                    <label for="location">Location</label>
                    <input type="text" class="form-control" name="place[location]" id="location" value="<%= munch.location %>" required/>
                    <div class="valid-feedback">
                        Perfect!
                    </div>

                    <button class="btn btn-success my-2">Submit</button>
                </div>
            </div>
        </div>
    </form>
