<% layout('layouts/boilerplate') -%>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card" style="width: 18rem;">
      <img src="<%= munch.imgUrl %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= munch.title %></h5>
          <p class="card-text">Average Price: <%= munch.averagePrice %></p>
          <p class="card-text">Description: <%= munch.description %></p>
          <p class="card-text">Location: <%= munch.location %></p>
          <a href="/munches/<%= munch._id %>/edit" class="btn btn-info my-1">Edit</a>
          <form action="/munches/<%= munch._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger my-1">Delete</button>
          </form>
      </div>
    </div>
  </div>
</div>